<%-include('./partials/header.ejs')%>
<link href="/css/styleNew.css" type="text/css" rel="stylesheet"> 
</head>
<body>
<a href="/ocparadise"><img src="https://i.imgur.com/ZZD5u3W.png" alt="logo" class="logo"></a>

<nav>
</nav> <br>
<div class="background">
<div class="container">
<div class="content">
<form action="/ocparadise" method="POST">
    <br>
    <label for="name">Name</label>
    <input type="text" placeholder="Character name" name="name" id="name"/><br><br>
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image" value="https://i.imgur.com/9avnz3D.png" style="color:rgba(128, 128, 128, 0.627)"><br><br>
  
    <label for="birthday">Birthday:</label>
    <input type="text" placeholder="Birthday" id="birthday" name="birthday"><br>
  
    <label for="zodiac">Zodiac:</label>
    <select id="zodiac" name="zodiac">
      <option value="">Select a zodiac sign</option>
      <option value="Aries">Aries</option>
      <option value="Taurus">Taurus</option>
      <option value="Gemini">Gemini</option>
      <option value="Cancer">Cancer</option>
      <option value="Leo">Leo</option>
      <option value="Virgo">Virgo</option>
      <option value="Libra">Libra</option>
      <option value="Scorpio">Scorpio</option>
      <option value="Sagittarius">Sagittarius</option>
      <option value="Capricorn">Capricorn</option>
      <option value="Aquarius">Aquarius</option>
      <option value="Pisces">Pisces</option>
    </select><br>
  
    <label for="birthplace">Birthplace:</label>
    <input type="text" placeholder="Birth place" id="birthplace" name="birthplace"><br>
  
    <label for="bio">Bio:</label>
    <textarea id="bio" placeholder="Tell us something about your character" name="bio"></textarea><br>
  
    <label for="idiosyncrasy">Idiosyncrasy:</label>
    <textarea id="idiosyncrasy" placeholder="What makes them, them?" name="idiosyncrasy"></textarea><br>
  
    <label for="personality">Personality:</label>
    <textarea id="personality" placeholder="What are they like?" name="personality"></textarea><br>
  
    <label for="relationships">Relationships:</label>
    <textarea id="relationships" placeholder="Who do they care about?" name="relationships"></textarea><br>
  
    <label for="goalsMotivations">Goals and Motivations:</label>
    <textarea id="goalsMotivations" placeholder="What drives them?" name="goalsMotivations"></textarea><br>
  
    <label for="fearsWeakness">Fears and Weakness:</label>
    <textarea id="fearsWeakness" placeholder="What are they afraid of or is their weakness?" name="fearsWeakness"></textarea><br>
  
    <label for="skills">Skills:</label>
    <textarea id="skills" placeholder="What are their strengths and skills?" name="skills"></textarea><br>
  
    <label for="mostTreasured">Most Treasured:</label>
    <textarea id="mostTreasured" placeholder="What do they hold dear?" name="mostTreasured"></textarea><br>
  
    <label for="askForPermissionToUse"><p style="">Ask for permission to use in a personal or non-commercial work:</p></label>
    <div class="permission-container">
        <input type="checkbox" id="askForPermissionToUse" name="askForPermissionToUse">
    </div>
    
    <label for="originalCreator">Original Creator:</label>
    <input type="text" placeholder="What's your handle or name?" id="originalCreator" name="originalCreator"><br>
  
     <label for="instagram">Instagram:</label>
    <input type="text" placeholder="Instagram URL" id="instagram" name="instagram"><br>
  
    <label for="twitter">Twitter:</label>
    <input type="text" placeholder="Twitter URL" id="twitter" name="twitter"><br>
  
    <label for="tiktok">Tiktok:</label>
    <input type="text" placeholder="TikTok URL" id="tiktok" name="tiktok"><br>

    <input type="submit" name="" value="Add Chara" />
  </form>

<%-include('./partials/footer.ejs')%>